.agent-player {
    .pm-hide,
    .vip-badge {
        display: none !important;
        pointer-events: none;
        cursor: default !important;
    }

    .my-profile-link {
        background: none !important;
    }

    .pm-disable,
    .pm-disable a,
    .navbar .nav__dropdown-wrapper,
    .navbar .nav__dropdown-toggle {
        opacity: 0.5;
        pointer-events: none;
        cursor: default !important;
    }
}
