#geoIpLanguagePopup {
    .modal-content {
        background-color: #af0000;

        .btn {
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    .modal-close {
        background-position: -360px -640px;
    }
}
