.login-form {
    min-width: 490px;
    font-size: 12px;
    float: left;

    input[type="text"],
    input[type="password"] {
        width: 140px;
        height: 27px;
        margin: 0 10px 5px 0;
        padding: 5px 15px;
        float: left;
        border: 0;
        font-size: 14px;
        line-height: 1;
        vertical-align: middle;
    }

    .btn {
        min-width: 90px;
        margin-right: 10px;
        margin-bottom: 5px;
        float: left;

        + .btn {
            margin-right: 0;
        }

        &.join-now {
            margin-right: 0;
        }
    }

    // error message
    .login-error,
    .capslock-notification {
        display: block;
        width: 290px;
        clear: both;
        line-height: 15px;
        text-align: left;

        &:before {
            float: left;
            margin-right: 10px;
            width: 18px;
            height: 18px;
            background-image: url($base-sprite);
            background-position: -360px -320px;
            content: "";
        }

        + .login-issue {
            margin-left: 10px;
        }
    }

    // support for safari browser issue
    .caps-lock-enabled::-webkit-caps-lock-indicator,
    .password-mask-enabled::-webkit-caps-lock-indicator {
        content: none;
    }

    // support for ie browser issue
    .caps-lock-enabled::-ms-clear,
    .caps-lock-enabled::-ms-reveal,
    .password-mask-enabled::-ms-clear,
    .password-mask-enabled::-ms-reveal {
        display: none;
    }

    .login-issue {
        color: $white;

        &:hover {
            color: $yellow;
        }
    }

    .loginform-textfield-wrapper,
    .loginform-button-wrapper {
        display: inline-block;
        float: left;
    }

    .loginform-textfield-wrapper {
        max-width: 300px;
    }

    .loginform-button-wrapper {
        min-width: 190px;
        position: relative;

        hr {
            display: none;
        }

        .login-issue {
            position: absolute;
            left: 0;
            bottom: -15px;
        }
    }

    .username-field-wrapper,
    .password-field-wrapper {
        position: relative;
        float: left;
    }

    .ie8_username_placeholder,
    .ie8_password_placeholder {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 140px;
        height: 27px;
        padding: 6px 15px 5px;
        font-size: 14px;
        color: #999;
        background: #fff;
        cursor: text;
    }
}
