// Main Menu ==============================================================================
.main-menu {
    @extend %clearfix;
    margin: 0;
    padding-left: 0;
    list-style-type: none;

    &.pull-right {
        .main-menu-item:last-child {
            .main-menu-link {
                padding-right: 0;
            }
        }
    }
}

.main-menu-item {
    float: left;
}

.main-menu-link {
    position: relative;
    z-index: 16;
    display: inline-block;
    height: 40px;
    padding: 0 20px;
    color: $mainmenu-link-color;
    font-size: $mainmenu-font-size;
    line-height: 40px;
    background: $mainmenu-link-bg;
    text-decoration: none;

    // Hover/Active state
    &:hover,
    .active > & {
        background: $mainmenu-link-active-bg;
        color: $mainmenu-link-hover-color;
    }

    // Promotion menu seperator
    .promotion-item > &:hover,
    .mobile-item > &:hover,
    .vip-item > &:hover,
    .news-item > &:hover,
    .promotion-item.active > &,
    .mobile-item.active > &,
    .vip-item.active > &,
    .news-item.active > & {
        background: transparent;
        color: $mainmenu-link-hover-color;
    }
}

// Menu menu links with icons
.promotion-item,
.mobile-item,
.vip-item,
.news-item {
    a:before {
        @include image-replacement($base-sprite, -360px, -20px, 24px, 30px);
        content: "";
        margin-right: 6px;
    }

    &.active a:before,
    a:hover:before {
        background-position: -360px -120px;
    }
}

.mobile-item {
    a:before {
        width: 13px;
        background-position: -360px -60px;
    }

    &.active a:before,
    a:hover:before {
        background-position: -360px -160px;
    }

    .main-menu-link {
        padding-right: 0;
    }
}

.vip-item {
    a:before {
        width: 30px;
        background-position: -360px -600px;
    }

    &.active a:before,
    a:hover:before {
        background-position: -400px -600px;
    }
}

.news-item {
    a:before {
        width: 30px;
        background-position: -480px -340px;
    }

    &.active a:before,
    a:hover:before {
        background-position: -480px -382px;
    }
}

// New product indicator
.new-tag {
    position: absolute;
    top: -10px;
    right: 5px;
    display: block;
    height: 15px;
    padding-left: 5px;
    line-height: 15px;
    background-image: url("../../core/core/assets/images/new_indicator.png");
    background-position: 0 3px;
    background-repeat: no-repeat;

    span {
        padding: 0 3px;
        font-size: 10px;
        font-weight: bold;
        background: $yellow;
        color: $red;
    }
}

// Separator (adds vertical line to the right of this link, should be applied on <li>)
.separator a {
    border-right: 1px solid $mainmenu-separator-color;
}

// Sub Menu ==============================================================================
.sub-menu-wrapper {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background: $submenu-wrapper-bg;
}

.sub-menu {
    @extend %container;
    list-style-type: none;
}

.sub-menu-item {
    float: left;
}

.sub-menu-link {
    position: relative;
    float: left;
    display: inline-block;
    height: 40px;
    padding: 0 25px;
    color: $submenu-link-color;
    font-size: $submenu-font-size;
    line-height: 40px;
    background: $submenu-link-bg;
    text-decoration: none;

    // Hover state
    &:hover {
        color: $submenu-link-hover-color;
    }

    // Active state
    .active > & {
        color: $submenu-link-active-color;
    }
}
