//Image Modal Style

.image--lightbox {
    text-align: center;

    .modal-content {
        width: auto;
        display: inline-block;
        padding: 15px;
        overflow: visible;
    }

    .modal-close-button {
        @include image-replacement($base-sprite, -240px, -240px, 25px, 25px);
        top: -10px;
        right: -10px;
        cursor: pointer;
    }

    .scrollbot-scrollbar-holder {
        position: absolute;
        display: block;
        top: 0;
        width: 1px;
        height: 100%;
        right: 3px;
        background-color: $scroll-holder-bg;
        border-radius: 0;
    }

    .scrollbot-scrollbar {
        position: absolute;
        top: 0%;
        right: -2px;
        width: 5px;
        height: 50%;
        background-color: $scrollbar-bg;
        border-radius: 15px;
    }

    .scrollbot {
        width: auto;
        max-height: none;
    }
}

.modal-image-trigger {
    cursor: pointer;
}
