.password-mask-icon {
    @include image-replacement($base-sprite, -400px, -500px, 25px, 18px, 14px);
    position: absolute;
    top: 4px;
    right: 15px;
    cursor: pointer;

    // Unmasked icon
    &.password-unmasked {
        background-position: -360px -500px;
    }
}

// Inside login lightbox
.login-form-lightbox {
    .password-mask-icon {
        top: 13px;
        right: 10px;
        width: 30px;
        height: 23px;
        background-position: -480px -300px;

        // Unmasked icon
        &.password-unmasked {
            background-position: -440px -300px;
        }
    }
}
