// Password Strenght 'Meter'

.password_meter_wrapper {
    padding: 5px 0;

    .password-meter-message {
        font-size: 12px;
        text-align: left;

        span {
            margin-left: 6px;
        }
    }

    .password-meter-bar-bg {
        height: 8px;
        border: 1px solid;
    }

    .password-meter-bar {
        height: 100%;
    }
}

.password-meter-weak {
    .password-meter-message {
        span {
            color: $weak-color;
        }
    }

    .password-meter-bar-bg {
        border-color: $weak-color;
    }

    .password-meter-bar {
        width: 33.3333333%;
        background-color: $weak-color;
    }
}

.password-meter-average {
    .password-meter-message {
        span {
            color: $average-color;
        }
    }

    .password-meter-bar-bg {
        border-color: $average-color;
    }

    .password-meter-bar {
        width: 66.6666666%;
        background-color: $average-color;
    }
}

.password-meter-strong {
    .password-meter-message {
        span {
            color: $strong-color;
        }
    }

    .password-meter-bar-bg {
        border-color: $strong-color;
    }

    .password-meter-bar {
        width: 100%;
        background-color: $strong-color;
    }
}
