blockquote {
    background: #f7f7f7;
    border-left: 1px solid #bbb; /* LTR */
    font-style: italic;
    margin: 1.5em 0;
    padding: 0.5em 10px;
}

[dir="rtl"] blockquote {
    border-left: none;
    border-right: 1px solid #bbb;
}

blockquote:before {
    color: #bbb;
    content: "\201C";
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.1em; /* LTR */
    vertical-align: -0.4em;
    font-family: Georgia, "Times New Roman", Times, serif;
}

[dir="rtl"] blockquote:before {
    content: "\201D";
    margin-left: 0.1em;
    margin-right: 0;
}

blockquote:after {
    color: #bbb;
    content: "\201D";
    font-size: 3em;
    line-height: 0.1em;
    vertical-align: -0.45em;
    font-family: Georgia, "Times New Roman", Times, serif;
}

[dir="rtl"] blockquote:after {
    content: "\201C";
}

blockquote > p:first-child {
    display: inline;
}
