
.partners-logo-curacao {
    visibility: hidden;
}

#curacao-container {
    display: inline-block;
    vertical-align: middle;
}


@include media("<tablet") {
    #curacao-container {
        display: inline-block;
        vertical-align: middle;
    }
}
