.header-notification {
    display: none;
    @include media(">tablet") {
        display: inline-block;
    }
    margin: 0;
    color: $white;
    font-size: 12px;

    .notification-wrapper {
        position: relative;
        display: inline-block;
        margin-right: 8px;
        cursor: pointer;
        
	    @include media(">=desktop") {
            margin-right: 0;
        }
    }

    .icon-notification {
        margin: -2px -2px 0 0;

	    @include media(">=desktop") {
            margin: -69px -2px 0;
        }
    }

    .notification-counter {
        position: relative;
        top: -5px;
        display: none;
        margin: 0 0 0 -10px;
        padding: 2px 3px;
        border-radius: $border-radius-default;
        background: $yellow;
        color: $dark-red;
        font: bold 12px/11px Verdana, Geneva, sans-serif;

	    @include media(">=desktop") {
            top: -48px;
            padding: 2px 4px;
            border-radius: 10px;
            margin-left: 3px;
            float: right;
        }
    }

	@include media(">=desktop") {
        .icon-notification.lazy-loaded {
            background-size: auto;
            background-position: -140px -720px;
            height: 24px;
            width: 28px;
        }
    }
}
