{# Use this template if you want to use the new asynchronous sliders #}
<section class="banner slider" id="main-banner-section">
    <p id="banner-loader" class="text-center mt-50 mb-50">
        <img src="{{ asset('images/loader.gif') }}">
    </p>
</section>
