<div id="game-error-handling" class="modal">
    <div class="modal-content">
        <div class="modal-header" style="padding:20px">
            <button class="modal-close modal-close-button lazy-load" data-src="{{ asset('images/sprite.png') }}"></button>
        </div>
        <div class="modal-body" style="padding:20px 0px 40px 0px"></div>
        <div class="modal-footer">
            <a class="modal-close btn btn-yellow"></a>
        </div>
    </div>
</div>
