<div id="geoIpLanguagePopup" class="modal modal-outer">
    <div class="modal-content">
        {# <div class="modal-header"></div> #}
        <div class="modal-body"></div>
        <span class="modal-close modal-close-button lazy-load" data-src="{{ asset('images/sprite.png') }}"></span>
    </div>
</div>