<div class="header-notification">
    <span id="time_ticker"></span>
    {% if (headerNotificationDisabled == null or headerNotificationDisabled == false) %}
        <div class="notification-wrapper">
            <span class="icon icon-notification lazy-load" data-src="{{ asset('images/sprite.png') }}"></span>
            <span class="notification-counter"></span>
        </div>
    {% endif %}
</div>
