<a href="#modal-1" class="modal-trigger">modal 1</a><br>
<a href="#modal-2" class="modal-trigger">modal 2</a><br>
<a href="#modal-3" class="modal-trigger">modal 3</a>

<div id="modal-1" class="modal">
    <div class="modal-content">
        <div class="modal-header">Header 1</div>
        <div class="modal-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aperiam, voluptatem a odit voluptas iusto doloremque ab. Impedit, consequatur, ab. Non deleniti aliquid ullam qui aspernatur dolor quod. Temporibus, animi?</p>
        </div>
        <a href="#" class="modal-close modal-close-button">X</a>
        <a href="#" class="modal-close">Cloase this modal</a>
    </div>
</div>

<div id="modal-2" class="modal">
    <div class="modal-content">
        <div class="modal-header">Header 2</div>
        <div class="modal-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aperiam, voluptatem a odit voluptas iusto doloremque ab. Impedit, consequatur, ab. Non deleniti aliquid ullam qui aspernatur dolor quod. Temporibus, animi?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aperiam, voluptatem a odit voluptas iusto doloremque ab. Impedit, consequatur, ab. Non deleniti aliquid ullam qui aspernatur dolor quod. Temporibus, animi?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aperiam, voluptatem a odit voluptas iusto doloremque ab. Impedit, consequatur, ab. Non deleniti aliquid ullam qui aspernatur dolor quod. Temporibus, animi?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aperiam, voluptatem a odit voluptas iusto doloremque ab. Impedit, consequatur, ab. Non deleniti aliquid ullam qui aspernatur dolor quod. Temporibus, animi?</p>
        </div>
        <a href="#" class="modal-close">X</a>
        <a href="#" class="modal-close modal-close-button">X</a>
    </div>
</div>

<div id="modal-3" class="modal">
    <div class="modal-content">
        <div class="modal-header">Header 3</div>
        <div class="modal-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aperiam, voluptatem a odit voluptas iusto doloremque ab. Impedit, consequatur, ab. Non deleniti aliquid ullam qui aspernatur dolor quod. Temporibus, animi?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aperiam, voluptatem a odit voluptas iusto doloremque ab. Impedit, consequatur, ab. Non deleniti aliquid ullam qui aspernatur dolor quod. Temporibus, animi?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aperiam, voluptatem a odit voluptas iusto doloremque ab. Impedit, consequatur, ab. Non deleniti aliquid ullam qui aspernatur dolor quod. Temporibus, animi?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aperiam, voluptatem a odit voluptas iusto doloremque ab. Impedit, consequatur, ab. Non deleniti aliquid ullam qui aspernatur dolor quod. Temporibus, animi?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aperiam, voluptatem a odit voluptas iusto doloremque ab. Impedit, consequatur, ab. Non deleniti aliquid ullam qui aspernatur dolor quod. Temporibus, animi?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aperiam, voluptatem a odit voluptas iusto doloremque ab. Impedit, consequatur, ab. Non deleniti aliquid ullam qui aspernatur dolor quod. Temporibus, animi?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aperiam, voluptatem a odit voluptas iusto doloremque ab. Impedit, consequatur, ab. Non deleniti aliquid ullam qui aspernatur dolor quod. Temporibus, animi?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aperiam, voluptatem a odit voluptas iusto doloremque ab. Impedit, consequatur, ab. Non deleniti aliquid ullam qui aspernatur dolor quod. Temporibus, animi?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aperiam, voluptatem a odit voluptas iusto doloremque ab. Impedit, consequatur, ab. Non deleniti aliquid ullam qui aspernatur dolor quod. Temporibus, animi?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aperiam, voluptatem a odit voluptas iusto doloremque ab. Impedit, consequatur, ab. Non deleniti aliquid ullam qui aspernatur dolor quod. Temporibus, animi?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aperiam, voluptatem a odit voluptas iusto doloremque ab. Impedit, consequatur, ab. Non deleniti aliquid ullam qui aspernatur dolor quod. Temporibus, animi?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aperiam, voluptatem a odit voluptas iusto doloremque ab. Impedit, consequatur, ab. Non deleniti aliquid ullam qui aspernatur dolor quod. Temporibus, animi?</p>
        </div>
        <a href="#" class="modal-close modal-close-button">X</a>
    </div>
</div>
