<div class="logo">
    <a href="{{ url("/") }}" title="{{ header.header_config.logo_tooltip }}">
        Casino Jamboree
        <img src="{{ asset('images/logo_casino_jamboree.png') }}" alt="Jamboree">
    </a>
</div>
