<div class="ticker">
    <span class="ticker-holder">
        <a href="#" class="ticker-link"></a>
        <span class="ticker-icon"><i class="fa fa-line-chart"></i></span>
    </span>
</div>
<div id="jackpot-graph" class="modal jackpot-graph">
    <div class="modal-content">
        <div class="modal-body">
            <div class="graph"></div>
        </div>
        <a href="#" class="modal-close modal-close-button lazy-load" data-src="{{ asset('images/sprite.png') }}"></a>
     </div>
</div>
