// Acount 
.account {
    position: absolute;
    top: 0.8rem;
    right: 0.5rem;
    border: 0.1rem solid $account-border;
    background: $account-bg;
    color: $account-color;
    border-radius: 0.6rem;
    line-height: 1.3rem;
    padding: 0.5rem;

    @include media(">=desktop") {
        border: 0;
        border-radius: 0;
        padding: 0;

        &-details {
            padding: 1.5rem 0;
        }
    }

    &-details,
    &-menu-wrapper {
        float: left;
    }

    &-menu-wrapper {
        display: none;
        position: relative;
        margin-left: 1rem;

        @include media(">=desktop") {
            display: initial;
        }

        &:hover {
            .account-button {
                background: $white;
            }

            .account-menu {
                display: block;
            }
        }
    }

    &-menu-wrapper,
    &-button {
        width: 6rem;
        height: 6.7rem;
    }

    &-button {
        position: relative;
        display: block;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        cursor: pointer;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            width: 2.9rem;
            height: 3.5rem;
        }
    }

    &-label,
    &-amount {
        text-align: right;
        font-size: 1.2rem;
        font-weight: bold;

        @include media(">=desktop") {
            font-size: 1.5rem;
        }
    }

    &-amount {
        color: $account-amount-color;
        height: 1.6rem;
    }

    &-balance-label {
        color: $white;
    }

    &-id-label,
    &-balance-label {
        display: none;

        @include media(">=desktop") {
            display: inline-block;
        }
    }

    &-balance-loader {
        position: absolute;
        left: -2.5rem;
        bottom: 0;
        font-size: 2rem;
        color: $white;

        @include media(">=desktop") {
            position: relative;
            left: initial;
            bottom: initial;
        }
    }

    &-menu {
        position: absolute;
        display: none;
        padding: 0;
        margin: 0;
        list-style-type: none;
        width: 25rem;
        background: $profile-menu-bg;
        font-weight: bold;
        z-index: 999;

        a {
            position: relative;
            display: block;
            padding: 1rem 1rem 1rem 5rem;
            color: $profile-menu-link-color;
        }

        &.right {
            left: 0;
        }

        &.left {
            right: 0;
        }

        &.right,
        &.right li:first-child:hover {
            border-top-right-radius: 1rem;
        }

        &.left,
        &.left li:first-child:hover {
            border-top-left-radius: 1rem;
        }

        &,
        li:last-child:hover {
            border-bottom-right-radius: 1rem;
            border-bottom-left-radius: 1rem;
        }

        li:hover {
            background: $white;
        }
    }
}

.login-button {
    top: 0.8rem;
    right: 0.5rem;
    height: 41px;
    position: absolute;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    // font-size: 2rem;
    border: 0.1rem solid #fff;
    border-radius: 0.6rem;

    @include media(">=desktop") {
        top: 3.6rem;
        height: auto;
        padding: 0.7rem 5rem 0.7rem 1.4rem;
    }

    a {
        display: block;
        color: #fff !important;

        .login-button-label-main {
            @include media(">=desktop") {
                display: block;
                font-size: 2.5rem;
                margin-bottom: -0.8rem;
            }
        }

        .login-button-label-sub {
            display: none;
            @include media(">=desktop") {
                display: block;
                font-size: 1.2rem;
            }
        }
    }
}
